- content_for(:title) { @building.fullname }

= simple_format @building.description

%h2 Establishments

%table.table.table-striped.table-hover
  %tr
    %th Name
    %th Address
    %th From
    %th To
  - @building.existences.each do |existence|
    %tr
      %td= link_to existence.establishment.name, existence.establishment
      %td= existence.location.address
      %td= existence.start_year
      %td= existence.end_year

.form-actions
  = link_to 'Edit', edit_building_path(@building), class: 'btn btn-primary'
