- content_for(:title) { @building.fullname }

= simple_format @building.description

%h2 Locations

%table.table.table-striped
  %tr
    %th Address
    %th Latitude
    %th Longitude
    %th
  - @building.building_locations.each do |bl|
    %tr
      %td= link_to bl.location.name, bl.location
      %td= bl.location.latitude
      %td= bl.location.longitude
      %td{ style: 'text-align:right' }
        = link_to 'Edit', [:edit, @building, bl], class: 'btn btn-mini'
        = link_to 'Delete', [@building, bl], method: :delete, class: 'btn btn-mini', confirm: 'Are you sure?'

%p
  = link_to 'New Building Location', new_building_building_location_path(@building), class: 'btn'

%h2 Establishments

= render 'existences/existences', existences: @building.existences

= render 'sources/sources', sourceable: @building

.form-actions
  = link_to 'Edit', edit_building_path(@building), class: 'btn btn-primary'
