%table.table.table-striped.table-hover
  %tr
    %th Location
    %th Building
    %th From
    %th Through
    %th
  - existences.by_existence_years.each do |existence|
    %tr
      %td
        - if existence.location
          = link_to existence.location.name, existence.location
      %td
        - if existence.location and existence.location.building
          = link_to existence.location.building.try(:name), existence.location.building
      %td= existence.start_year
      %td= existence.end_year
      %td= link_to 'Edit', edit_establishment_existence_path(existence.establishment, existence), class: 'btn btn-mini'
