= simple_form_for([existence.establishment, existence]) do |f|
  = f.error_notification

  .form-inputs
    = f.association :location
    = f.input :address, label: 'Postal address'
    = f.input :description
    = f.input :start_year
    = f.input :end_year

  .form-actions
    = f.button :submit, class: 'btn btn-primary'