= simple_form_for(@artifact, html: { multipart: true}) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :description
    = f.file_field :file

  .form-actions
    = f.button :submit
