= simple_form_for(@location) do |f|
  = f.error_notification

  .form-inputs
    = f.association :building, label_method: :fullname, id_method: :id
    = f.input :address

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
