- content_for(:title) { 'Locations' }

%table.table.table-striped.table-hover
  %tr
    %th Address
    %th
    %th Latitude
    %th Longitude

  - @locations.each do |location|
    %tr
      %td= link_to location.address, location
      %td= pluralize(location.establishments.length, "known establishment")
      %td= location.latitude
      %td= location.longitude

.form-actions
  = link_to 'New Location', new_location_path, class: 'btn btn-primary'
