- content_for(:title) { @location.address }

%p
  = @location.latitude
  = @location.longitude

= render 'existences/existences', existences: @location.existences

= render 'sources/sources', sourceable: @location

.form-actions
  = link_to 'Edit', edit_location_path(@location), class: 'btn btn-primary'
  = link_to 'Delete', @location, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
